.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.principles {
  margin-top: 4rem;
  text-align: center;
}

.principlesList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  margin-top: 2rem;
  padding: 0 1rem;
}

.principle {
  background: var(--ifm-primary-boxes);
  padding: 1.5rem;
  border-radius: 8px;
  font-weight: 500;
}

@media screen and (max-width: 996px) {
  .principle {
    padding: 1rem;
  }
}
